.container {
  column-gap: 1rem;
  display: grid;
  grid-template-columns: auto;
  padding: 1rem;
}

.sidebar > h1 {
  font-size: 1.75em;
  margin-top: 0;
}

@media (min-width: 64em) {
  .container {
    grid-template-columns: 6fr 2fr;
  }
}
